<extend name="base" />

<block name="main">
     <div id="wrap">
        <div></div>
        <form>
            <div>
                <label>姓名:</label>
                <input name="name" type="text" placeholder="请输入你的姓名"/>
            </div>
            <div>
                <label>性别:</label>
                <div id="gender">
                    <div>
                        <input type="radio" name="gender" id="male" value="male"/>
                        <label for="male">男</label>
                    </div>
                    <div>
                        <input type="radio"  name="gender" id="female" value="female"/>
                        <label for="female">女</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" id="secret" value="secret"/>
                        <label for="secret">保密</label>
                    </div>
                
            </form>
        <php>
        </php>
        </div>
</block>




























<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>用户注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../Public/css/user-style.css" rel="stylesheet">
</head>

<body>
   
    </body>
</html> -->