<extend name="base" />
<block name="title"><title>reigster</title></block>
<block name="main">
<link href="../../../Public/css/user.css" rel="stylesheet">  
     <div id="user-add">
        <div class="welcome">
            欢迎注册GEEK论坛，在这里你可以向大家展示你的才华，找到更多志同道合的人！
        </div>
        <form id="user-add-form">
            <div>
                <label class="input-tip">姓名:</label>
                <input name="name" type="text" placeholder="请输入你的姓名"/>
            </div>
            <br/>
            <div>
                <label class="input-tip">性别:</label>
                <div id="gender">
                    <div>
                        <input type="radio" name="gender" id="male" value="male"/>
                        <label for="male">男</label>
                    </div>
                    <div>
                        <input type="radio"  name="gender" id="female" value="female"/>
                        <label for="female">女</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" id="secret" value="secret"/>
                        <label for="secret">保密</label>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <label class="input-tip">年龄:</label>
                <input type="text" name="age" placeholder=""/>
            </div>
            <br/>
            <div>
                <label class="input-tip">生日:</label>
                <input type="date" name="birthday"/>
            </div>
            <br/>
            <div>
                <label class="input-tip">地址:</label>
                <input type="text" name="brithday"/>
            </div>
            <br/>
            <div>
                <label class="input-tip">电话:</label>
                <input type="number" name="phone"/>
            </div>
            <br/>
            <div>
                <label class="input-tip">邮箱:</label>
                <input type="email" name="email"/>
            </div>
            <br/>
            <div>
                <label class="input-tip">简介:</label>
                <textarea name="introduction">用几句话，简单描述自己！</textarea>
            </div>
            <br/>
            <div>
                <!-- <input type="submit" class="submit" value="注册"/> -->
                <!-- <input type="button" class="back" value="返回"/> -->
                <button type="submit" class="submit">注册</button>
                <button class="back">返回</button>
            </div>
            
        
                
            </form>
        <php>
        </php>
        </div>
</block>






























<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>用户注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   
    </body>
</html> -->