<extend name="base" />
<block name="title">
    <title>完善个人信息</title>
</block>
<block name="main">
    <link href="../../../Public/css/user.css" rel="stylesheet">
    <div id="user-add">
        <div class="welcome">
            欢迎注册GEEK论坛，在这里你可以向大家展示你的才华，找到更多志同道合的人！
        </div>
        <!-- 默认get，导致后台数据获取失败 -->
        <form id="user-add-form" method="POST">
            <div>
                <label class="input-tip">姓名:</label>
                 <input name="name" type="text" <if condition="$name eq ''"> placeholder="请输入你的姓名" <else/> value= "{$name}"</if>
                 /> 
                 
            </div>
            <br/>
            <div>
                <label class="input-tip">性别:</label>
                <div id="gender">
                    <div>
                        <input type="radio" name="gender" id="male" value="male" <if condition="$gender eq '0'">checked</if> />
                        <label for="male">男</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" id="female" value="female" <if condition="$gender eq '1'">checked</if>  />
                        <label for="female">女</label>
                    </div>
                    <div>
                        <input type="radio" name="gender" id="secret" value="secret"  <if condition="$gender eq '2'">checked</if>  />
                        <label for="secret">保密</label>
                    </div>
                </div>
            </div>
            <br/>
            <!-- <div>
                <label class="input-tip">年龄:</label>
                <input type="text" name="age" placeholder="" />
            </div>
            <br/> -->
            <div>
                <label class="input-tip">生日:</label>
                <input type="date" name="birthday" <if condition="$birthday neq ''"> value = "{$birthday}"</if> />
            </div>
            <br/>
            <div>
                <label class="input-tip">地址:</label>
                <input type="text" name="address"   <if condition="$address neq ''"> value="{$address}"</if>  />
            </div>
            <br/>
            <!-- <div>
                <label class="input-tip">电话:</label>
                <input type="number" name="phone" />
            </div>
            <br/> -->
            <div>
                <label class="input-tip">邮箱:</label>
                <input type="email" name="email" <if condition="$email neq ''"> value="{$email}"</if> />
            </div>
            <br/>
            <div>
                <label class="input-tip">简介:</label>
                <textarea name="description">
                    <if condition="$description neq ''">
                        {$description}<else/>
                    用几句话，简单描述自己！
                    </if>
                </textarea>
            </div>
            <br/>
            <div>
                <button type="submit" class="submit">更新</button>
                <button class="back">返回</button>
            </div> 
        </form>
        <php>
        </php>
    </div>
</block>
