<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <block name="title">
        <title>标题</title>
    </block>
    <link href="../../../Public/css/user-style.css" rel="stylesheet">
    <link href="../../../Public/css/header.css" rel="stylesheet">
    <link href="../../../Public/css/footer.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <block name="header">
        <div id="header">
            <div id="header-wrap">
                <div id="logo-wrap">
                    <div id="logo">
                        <img src="../../../Public/images/logo2.png" width="140px" height="75px" />
                    </div>
                    <!-- <div>
                        论坛流
                    </div> -->
                     <button>首页</button> 
                     <div class="topic">话题</div> 
                </div>
                <div id="search">
                    <input type="text" name="search-input" class="search-input" placeholder="请输入你想搜索的内容"/>
                    <button name="search-btn" class="search-btn">搜索</button>

                </div>
                <div id="menu">
                    <div id="avtor">头像</div>
                    <div>登陆</div>
                    <div>注册</div>
                    <div>注销</div>
                </div>
            </div>
        </div>
    </block>
    <block name="menu">menu</block>
    <block name="left">left</block>
    <block name="main">main</block>
    <block name="footer">footer
        <!-- <div id="footer"></div> -->
    </block>
</body>

</html>