<extend name="base" />

<title name="title">
    <title> 注册 </title>
</title>
<block name="main">

    <div id="user-register">
        <div class="welcome">
            欢迎注册GEEK论坛，在这里你可以向大家展示你的才华，找到更多志同道合的人！
        </div>
        <br/>
        <form action="" method="POST" onsubmit="return formValidate();">
            <br/>
            <br/>
            <div>
                <label>手机号码:</label>
                <input type="text" name="phone" placeholder="请输入你的手机号码" />
                <button id="phoneCheck">获取验证码</button>
                <!-- <button style="display: none" id="time"></button> -->
            </div>
            <div>
                <label>验证码:</label>
                <input type="number" name="checkword" placeholder="验证码" />
            </div>
            <div>
                <label>密码:</label>
                <input type="password" name="password" placeholder="请输入密码" />
                <span id="passwordTip" style="color: red"></span>
            </div>
            <div>
                <label>确认密码:</label>
                <input type="password" name="password2" placeholder="请再次输入密码" />
            </div>
            <div>
                <div>
                    <button type="submit" class="submit" id="register-submit">提交</button>
                    <button class="back">返回</button>
                </div>
            </div>
        </form>
    </div>
    <script src="../../../Public/js/getSms.js"> </script>
</block>