* {
    margin: 0;
    padding: 0;
    /* background: #eee; */
}

body {
    background: #eee;
}

a {
    text-decoration: none;
    color: gainsboro;
    display: block;
}

.title {
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #bbb;
    border-bottom: 3px solid #ccc;
}